source https://api.nuget.org/v3/index.json
nuget SQLProvider 
nuget System.Data.SqlClient
nuget Giraffe
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.AspNetCore.App